@import '../global/variables';

.addresses {

    text-align: center;

    margin-top: 25px;

    &__title {

        font-size: 24px;
        font-weight: 700;

        text-transform: uppercase;

        @media (min-width: $tablet-width) {
            font-size: 36px;

            margin-top: 45px;
        }

        @media (min-width: $ipad-pro-width) {
            font-size: 48px;
        }
    }

    &__item {
        margin-top: 25px;

        @media (min-width: $tablet-width) {
            
            margin-top: 40px;
            margin-left: 90px;
            margin-right: 90px;

            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        @media (min-width: $desktop-width) {
            margin-left: 250px;
            margin-right: 250px;
        }

        &:first-child {
            margin-top: 15px;

            @media (min-width: $tablet-width) {
                margin-top: 35px;
            }
        }

        &-text-wrapper {

            @media (min-width: $tablet-width) {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: baseline;
            }
        }

        &-address {
            font-size: 14px;
            font-weight: 700;

            @media (min-width: $tablet-width) {
                font-size: 18px;
            }

            @media (min-width: $ipad-pro-width) {
                font-size: 26px;
                text-align: left;
            }
        }

        &-phone {
            display: block;

            font-weight: 100;

            text-decoration: none;

            color: $main-bg-black;

            margin-top: 4px;
            margin-bottom: 3px;

            @media (min-width: $tablet-width) {
                font-size: 24px;

                margin-top: 40px;
                margin-bottom: 38px;
            }

            @media (min-width: $ipad-pro-width) {
                font-size: 28px;
            }

            &:active {
                color: $additional-text-color;
            }
        }

        &-work-time {
            font-size: 14px;
            font-weight: 400;

            

            margin-bottom: 8px;

            @media (min-width: $tablet-width) {
                font-size: 18px;
                text-align: left;
                margin: 0;

                & span {

                    @media (min-width: $tablet-width) {
                        display: block;
                        text-align: center;
                    }
                }
            }

            @media (min-width: $ipad-pro-width) {
                font-size: 26px;
            }

            &-linebreak {
                @media (max-width: $mobile-width-only) {
                    display: none;
                }
            }
        }

        &-map {
            width: 100vw;
            height: 35vh;

            @media (min-width: $tablet-width) {
                width: 55%;
                height: 16vh;
            }

            @media (min-width: $ipad-pro-width) {
                width: 45%;
                height: 22vh;
            }

            @media (min-width: $desktop-width) {
                height: 250px;
            }
        }
    }

    &__separate-line {
        width: 80%;
        height: 3px;

        margin: 0 auto;
        margin-top: 40px;

        background-color: #c4c4c4;

        border-radius: 50px;

        @media (max-width: $mobile-width-only) {
            display: none;
        }

        @media (min-width: $desktop-width) {
            width: 70%;
        }
    }
}