@import '../global/variables';

.footer {
    width: 100%;
    background-color: $main-bg-black;
    color: $main-bg-white;

    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-width) {
        margin-top: 40px;
    }

    &__logo {
        
        & img {
            margin-top: 30px;
            margin-bottom: 30px;

            width: 200px;

            @media (min-width: $tablet-width) {
                width: 140px;

                margin: 0;
            }
        }

        &--tablet {
            @media (max-width: $mobile-width-only) {
                display: none;
            }

            @media (min-width: $ipad-pro-width) {
                display: none;
            }
        }

        &--other-views {
            @media (min-width: $tablet-width) {
                display: none;
            }

            @media (min-width: $ipad-pro-width) {
                display: block;

                margin-left: 70px;
            }
        }
    }

    &__logo-social-wrapper {
        @media (min-width: $tablet-width) {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            padding-top: 30px;

            width: 100%;
        }
    }

    &__social {

        @media (min-width: $tablet-width) {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            margin-right: 70px;
            margin-left: 70px;
        }

        @media (min-width: $ipad-pro-width) {

            width: max-content;

            flex-direction: column;

            margin: 0;

            margin-right: 87px;
        }

        &-title {
            font-weight: 100;
            margin-bottom: 20px;

            @media (min-width: $tablet-width) {
                margin: 0;
            }

            @media (min-width: $ipad-pro-width) {
                margin-bottom: 20px;
            }
        }

        &-list {
            display: grid;
            grid-template-columns: max-content max-content max-content;
            justify-content: center;
            grid-gap: 35px;

            margin-bottom: 35px;

            @media (min-width: $tablet-width) {
                margin: 0;
            }
        }

        &-item {

            &:active {
                opacity: 0.3;
            }
        }
    }

    &__about-web-site {
        width: max-content;

        display: block;
        text-decoration: none;

        font-weight: 700;
        color: $main-bg-white;

        margin: auto;

        margin-bottom: 40px;

        &:active {
            opacity: 0.3;
        }

        &--desktop {
            display: block;

            padding-right: 70px;

            @media (max-width: 1023px) {
                display: none;
            }
        }

        &--other-views {

            @media (min-width: $ipad-pro-width) {
                display: none;
            }
        }

        @media (min-width: $tablet-width) {
            margin-bottom: 15px;
        }

        @media (min-width: $ipad-pro-width) {
            margin: 0;
        }
    }

    &__copyright {
        text-transform: none;

        font-weight: 100;

        padding-bottom: 40px;

        @media (min-width: $ipad-pro-width) {
            margin-top: 25px;
        }
    }
}