@import '../global/variables';

.header {
    position: sticky;
    top: 0;

    z-index: 10;

    width: 100%;
    height: 100px;

    background-color: $main-bg-black;

    @media (min-width: $ipad-pro-width) {
        height: 130px;
    }

    &__elements-wrapper {
        height: 100%;

        padding: 0 15px;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $ipad-pro-width) {
            padding: 0 25px;
        }
    }

    &__menu {

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 1025px) {
            display: none;
        }

        &-toggle {

            @media (min-width: $desktop-width) {
                display: none;
            }

            &--closed {
                content: "";
                position: relative;

                width: 25px;
                height: 3px;

                background-color: $main-bg-white;

                box-shadow: 0 -9px 0 0 $main-bg-white,
                            0 9px 0 0 $main-bg-white;

                &:active {
                    opacity: 0.3;
                }

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: -15px;
                    left: -4px;
                    right: 0px;
                    bottom: -15px;
                    background: transparent;
                }
            }

            &--opened {
                position: relative;

                width: 25px;
                height: 3px;

                &::before, &::after {
                    position: absolute;
                    content: '';
                    width: 25px;
                    height: 3px;
                    background-color: $main-bg-white;
                }

                &::before {
                    transform: rotate(45deg);
                }
    
                &::after {
                    transform: rotate(-45deg);
                }
    
                &:active {
                    opacity: 0.3;
                }
            }
        }
    
        &-title {
            color: $buttons-text;
            text-transform: uppercase;

            font-size: 18px;
            font-weight: 700;

            margin-left: 15px;

            @media (max-width: $mobile-width-only) {
                position: absolute;
                padding:0;
                border:0;
                margin: -1px;
                height: 1px;
                width: 1px;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
            }
        }
    }

    &__logo {
        width: 130px;
        height: auto;

        @media (min-width: $ipad-pro-width) {
            width: 170px;
        }
    }

    &__desktop-menu {

        @media (max-width: $ipad-pro-width) {
            display: none;
        }

        &-item {
            padding-right: 44px;

            cursor: pointer;

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                text-shadow: 1px 0px 17px rgba(255, 255, 255, 1);
            }

            &:active {
                opacity: 0.3;
            }
        }

        &-list {
            list-style: none;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        font-size: 24px;
        font-weight: 700;

        text-transform: uppercase;
        color: white;
    }

    &__button {

        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        height: 34px;

        @media (min-width: $ipad-pro-width) {
            font-size: 20px;
            height: 56px;
        }

        &-mobile {
            width: 96px;

            line-height: 14px;

            @media (min-width: $mobile-width-only) {
                display: none;
            }
        }

        &-other-views {
            @media (max-width: $mobile-width-only) {
                display: none;
            }

            @media (min-width: $tablet-width) {
                width: 194px;
            }

            @media (min-width: $ipad-pro-width) {
                width: 300px;
            }
        }
    }

    &__menu-mobile-modal {
        &--hide {
            display: none;
        }
    }
}