@import '../global/variables';

.promos {

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    &__title {
        font-size: 48px;
        font-weight: 900;
        color: $additional-text-color;

        @media (min-width: $tablet-width) {
            font-size: 64px;
            font-weight: 700;
        }
    }

    &__timer {
        &-wrapper {
            margin-top: 10px;
            margin-bottom: 25px;
        }

        &-title {
            font-size: 16px;

            margin-bottom: 15px;
        }
    }

    &__time-items-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    &__time {

        &-number {
            position: relative;
            right: -4px;
            font-size: 40px;

            @media (min-width: $tablet-width) {
                right: -7px;
            }

            &-cell {
                position: relative;
                z-index: 2;
                
                letter-spacing: 7px;
                color: white;
                
                @media (min-width: $tablet-width) {
                    font-size: 64px;
                    letter-spacing: 15px;
                }
            }

            &-bg {
                position: absolute;
                top: 0;

                width: 28px;
                height: 46px;

                background: #c4c4c4;

                border-radius: 8px;

                z-index: 1;

                @media (min-width: $tablet-width) {
                    width: 47px;
                    height: 70px;
                }
            }

            &-1 {
                top: 0;
                left: -3px;

                @media (min-width: $tablet-width) {
                    left: -5px;
                }
            }

            &-2 {
                top: 0;
                left: 27px;

                @media (min-width: $tablet-width) {
                    left: 47px;
                }
            }
        }

        &-text {
            text-transform: lowercase;

            font-size: 16px;
            font-weight: 700;

            @media (min-width: $tablet-width) {
                font-size: 18px;
            }
        }

        &-separator {
            margin: 0 7px;

            position: relative;
            top: -9px;

            color: transparent;

            width: 3px;
            height: 32px;

            background: $additional-text-color;

            @media (min-width: $tablet-width) {
                margin: 0 10px;

                height: 46px;
            }
        }
    }

    &__list {
        width: 100%;
    }

    &__item {
        width: 91%;

        text-align: center;

        margin: 0 auto;
        margin-bottom: 25px;

        padding: 15px 0 15px 0;

        color: $main-bg-white;
        background: $main-bg-black;

        &:last-child {
            margin-bottom: 40px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            margin-top: 25px;
            margin-bottom: 25px;

            &-title {
                font-size: 20px;
            }

            &-price {
                margin: 20px 0;

                font-size: 36px;
                color: $additional-text-color;
            }

            &-button {
                width: 177px;
                height: 35px;

                font-size: 14px;
            }
        }

        &-inner-border {
            width: 88%;

            margin: 0 auto;

            border: 8px solid $main-bg-white;
            border-radius: 6px;

            @media (min-width: $tablet-width) {
                width: 94%;
            }
        }
    }
}