.about-site {

    padding: 25px 20px;

    font-size: 20px;
    
    &__title {
        margin: 0;
        margin-bottom: 15px;

        text-align: center;
        text-transform: uppercase;
    }

    &__link {
        text-decoration: none;
        color: black;

        &:hover {
            color: red;
        }

        &:active {
            opacity: 0.2;
        }
    }

    &__subtitle {
        margin-top: 25px;
        margin-bottom: 10px;

        text-align: center;

        font-size: 25px;
    }

    &__text {
        text-align: center;

        padding: 15px 0;
    }

    &__stack-list {

        &-item {
            margin: 15px 0;
        }
    }

    &__github-link {
        text-decoration: none;

        margin-top: 20px;
    }

    &__contacts {
        margin-top: 30px;

        &-subtitle {
            margin-bottom: 15px;
        }

        &-item {
            margin: 15px 0;
        }
    }

    &__contacts-block {
        margin-top: 45px;
    }
}